* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    /* border: 1px solid white; */
}

.honey-text {
    color: rgb(153, 130,53);
    font-weight: 800;
}

header {
    background-image: linear-gradient(rgb(253, 197, 123), white);
    border-bottom: 3px solid rgb(17, 37, 50);
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-bar ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    box-shadow: 5px 9px 15px 5px rgba(0,0,0,0.73);
}

#nav-bar ul li {
    margin: 15px 20px;
    padding: 3px 10px;
    border-radius: 10px;
}

#nav-bar ul li a:hover {
    transition: all 0.2s ease-in-out;
    color:rgb(17, 37, 50);
    border-radius: 5px;
    border-bottom: 5px solid rgb(153, 130,53);
}

body {
    background-image: url(images/v748-toon-61.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12rem 0;
    flex-wrap: wrap;
}

#main-title {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    color: rgb(17, 37, 50);
}

#name-title {
    text-align: center;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid rgb(17, 37, 50);
    font-size: 5rem;
}

#title-name {
    font-size: 1rem;
    color: rgb(17, 37, 50);
}

#job-title {
    font-size: 1rem;
    font-weight: 800;
    color: rgb(17, 37, 50);
    padding: 5px;
}

main > *:hover ~ #hidden-job {
    opacity: 1;
    transition: 0.3s;
}

#hidden-job {
    opacity: 0;
    padding: 5px;
    border-bottom: 2px solid rgb(153, 130,53);
    transition: 0.3s;
}

footer {
    height: 0.1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

#icon-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem 1rem 1rem;
}

#icon-container a {
    color: rgb(17, 37, 50);
    font-size: 2rem;
}

#icon-container a:hover {
    color: rgb(153, 130,53);
}

#copyright {
    color: rgb(17, 37, 50);
    font-size: 0.7rem;
    align-self: flex-end;
    padding: 1rem;
}

#about-main {
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    gap: 15px;
}

#about-container,
#project-head {
    grid-column-start: 1;
    grid-column-end: 4;
    color:rgb(17, 37, 50);
    border-bottom: 5px solid rgb(17, 37, 50);
    padding: 30px 40px;
    border-radius: 10px;
}

.exp-container {
    background-color: rgb(17, 37, 50);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 4px rgba(0,0,0,0.3);
}

#about-container h2,
.exp-container h2, h6 {
    color: rgb(153, 130,53);
    padding-bottom: 10px;
}

.exp-container h4, h6 ~ p {
    color: white;
}

#projects-main {
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    gap: 15px;
}

.project-img {
    top: 0;
    width: 25vw;
    height: 20vw;
}

#project-head {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
}

.project-items {
    width: 100%;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr;
}

.project-items:hover .hidden-menu {
    opacity: 0.9;
    background: rgb(153, 130,53);
    transition: all 0.3s ease-in-out;
}

.project-items:hover .project-img{
    opacity: 0.5;
    z-index: -2;
    transition: all 0.3s ease-in-out;
}


.hidden-menu {
    position: absolute;
    width: 25vw;
    height: 20vw;
    margin-left: 4px;
    opacity: 0;
    z-index: -1;
    display: grid;
    grid-column: 20px;
    grid-row: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}

.project-items h4 {
    color: rgb(17, 37, 50);
    font-size: 1.2rem;
    padding-top: 50px;
    border-bottom: 2px solid white;
}

.project-items h6 ~ p {
    color: white;
    align-self: flex-start;
    padding: 1rem;
}

.hidden-menu a {
    color: rgb(17, 37, 50);
}

#contact-main {
    max-width: 80%;
    min-width: 40%;
    margin: 14rem auto;
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    color: rgb(17, 37, 50);
}

#contact-main h2 {
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: 5px solid rgb(17, 37, 50);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#contact-main h2:hover {
    transition: all 0.3s ease-in-out;
    border-bottom: 5px solid rgb(153, 130,53);
}

.contact-details {
    padding: 1rem 2rem;
    font-weight: 400;
}

.contact-details i {
    padding-bottom: 0.3rem;
}

#first-contact {
    grid-column-start: 1;   
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#second-contact {
    grid-column-start: 2;
    border-radius: 10px;
}

#third-contact {
    grid-column-start: 3;
    border-radius: 10px;
}

#first-contact:hover,
#second-contact:hover,
#third-contact:hover {
    background-color: rgb(153, 130,53);
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 2px 10px 4px rgba(0,0,0,0.3);
    color: white;
}